@import '_settings'

normalize-css()
base()

body
  background-color rgba(139, 139, 139, 0.53)
  font: 15px arial,sans-serif

header
  background url("../img/header-bkg-mobile.png") no-repeat
  responsive-bg-image(920px, 743px)
  color: #fff
h1
  text-align center
  color $logo-text
  margin 0
  line-height 10vh
  padding: 5px
  font-size 7vw
nav
  height 12vh
  background-color rgba(255, 255, 255, 0.57)

.hide
  display none

#iphone
  margin-top 60%
  width 100%

@media screen and (min-width: 1025px)
  header
    background url("../img/header-bkg.png") no-repeat
    responsive-bg-image(1799px, 946px)
  #iphone
    margin-top 45%
  .container
    width 65%
  h1
    font-size 2.5vw
    line-height 14.5vh
  nav
    height 14.5vh